html, body {
    margin: 0;
    width: 100%;
}

#nito-san {
    overflow: hidden;
    width: 100%;
    // background-color: green;
    img {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    #nito-san-back {
        overflow: hidden;
        position: absolute;
        z-index: −1;

        img {
            z-index: -1;
        }
    }
}
